.citiesItem {
  width: 100%;
  text-align: start;
  transition: background-color 0.3s, color 0.3s;
  display: flex;


  &:hover {
    background-color: var(--color-gray);
  }

  &__name {
    padding: 9px 0;
    padding-left: 9px;
    text-align: left;
    height: 100%;
    color: inherit;
    flex: 1 1 100%;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: var(--color-black);
      color: var(--color-white);
    }

    &:active {
      background-color: var(--color-gray);
    }
  }

  &__close {
    position: relative;
    padding: 9px 0;
    flex: 0 0 50px;
    color: inherit;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: var(--color-black);
      color: var(--color-white);
    }

    &:active {
      background-color: var(--color-gray);
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: var(--color-black);
      transition: background-color 0.3s;
    }

    &:hover::before,
    &:hover::after {
      background-color: var(--color-white);
    }

    &::after {
      width: 2px;
      height: 25px;
    }

    &::before {
      width: 25px;
      height: 2px;
    }
  }
}
